@import "fonts.scss", "~simple-line-icons/scss/simple-line-icons.scss";

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  font-family: "Open sans", sans-serif;
  font-weight: unset;
}

p,
span {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}
